body{
  width: 70%;
  margin: auto;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #808080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding: 20px 10px 0 0;
  margin: auto;
}
.header h1{
  color: #808080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding: 20px 10px 0 0;
  margin: auto;
  text-align: left;
}


p{
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: #40E0D0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px 10px 5px;
  margin: auto;
  text-align: left;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #40E0D0;
}

.front img {
  width: 100%;
  margin: auto;
  text-align: center;
}

nav {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: #808080;
  margin: auto;
}


img{
  width: 50%
}

.greeting_intro{
  position: absolute;
  margin-top: -670px;
  margin-left: 50px;
  line-height: 1.25;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
}

.greeting_intro h1{
  color:  #40E0D0;
  font-size: 60px;
  font-weight: bolder;
}
.categories {
  padding: 20px;
}

.categories a{
    color: #808080;
    text-decoration: none;
    padding: 0 30px;
}

.categories a:hover {
  color: #40E0D0;
}

.contact{
  text-align: center;
  clear: both;
    background-color: #40E0D0;
}

.contact h1{
  text-align: center;
  color: white;
}

.contact_img{
  width: 100px;
  margin: auto;
}

.email_contact a{
  text-decoration: none;
  color: black;
}

.email_contact a:hover{
  text-decoration: none;
  color: #ffffff;
}

/*Projects*/

.projects_header h3{
  text-align: left;
}

.projects{
  text-align: center;
  width: 100%;
}

.projects p{
  text-align: left;
}

.project1, .project3, .project2, .project4{
  clear: both;
}
.project1 img, .project3 img{
  float: right;
}

.project2 img, .project4 img{
  float: left;
}


footer{
  text-align: center;
  border-top: .5px solid #40E0D0;
  border-bottom: .5px solid #40E0D0;
  margin-bottom: 20px;
  clear: both;
}
.social img {
  width: 30px;
  padding: 20px 5px;
}

.social img:hover{
  background: #40E0D0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {


}
