body{
  width: 800px;
  margin: auto;
}

h1 {
  color: #808080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding: 20px 10px 0 0;
  margin: auto;
  text-align: left;
}

a {
  text-decoration: none;

}

h2 {
  color: #40E0D0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px 10px 5px;
  margin: auto;
  text-align: left;
}

main {
  border-bottom: .5px solid #40E0D0;
}

.front img {
  width: 100%;
  margin: auto;
  text-align: center;
}

nav {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: #808080;
  margin: auto;
}

.categories {
  padding: 20px;
}

.categories a{
    color: #808080;
    text-decoration: none;
    padding: 0 30px;
}

.categories a:hover {
  color: #40E0D0;
}

footer{
  text-align: center;
}
.social img {
  width: 30px;
  padding: 20px 5px;
}

.social img:hover{
  background: #40E0D0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {


}
