body{
  width: 70%;
  margin: auto;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #808080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding: 20px 10px 0 0;
  margin: auto;
}

.header{
  position: fixed;
  top: 0;
}
.header h1{
  color: #808080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding: 20px 10px 0 0;
  margin: auto;
  text-align: left;
}

p{
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: #40E0D0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px 10px 5px;
  margin: auto;
  text-align: left;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 45px;
  color: #40E0D0;
}

.front img {
  width: 100%;
  margin: auto;
  text-align: center;
}

nav {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: #808080;
  margin: auto;
}

img{
  width: 50%
}

/*.greeting_intro{
  position: absolute;
  margin-top: -670px;
  margin-left: 50px;
  line-height: 1.25;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
}

/*.greeting_intro h1{
  color:  #40E0D0;
  text-shadow: 2px 2px white;
  font-size: 60px;
  font-weight: bolder;
}*/

.about p{
  text-align: left;
  color: #808080;
}
.categories {
  padding: 25px;
}

.categories a{
    color: #808080;
    text-decoration: none;
    padding: 0 30px;
}

.categories a:hover {
  color: #40E0D0;
}



.about h3, .skills h3, .projects h3{
  padding: 5px;
  border-bottom: .5px solid #40E0D0;
}

.contact{
  text-align: center;
  clear: both;
  background-color: #40E0D0;

}

.contact h1{
  text-align: center;
  color: white;
}

.contact_img{
  width: 100px;
  margin: auto;
}

.contact_img img:hover {
  animation: shake .85s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.email_contact a{
  text-decoration: none;
  color: black;
}

.email_contact a:hover{
  text-decoration: none;
  color: #ffffff;
}


/*About*/
.about p{
  font-size: 30px;
}

/*Skills*/
.skills_images{
  margin: auto;
  width: 90%;
}

.skills_images img{
  width: 100%;

}

/*Projects*/
.projects_header{
  text-align: left;
}

.projectLinks a, p{
  width: 100%;
  text-align: center;

}

.project1_content, .project3_content, .project2_content, .project4_content{
  width: 45%;
}

.project2_content, .project4_content{
  float: right;
}

.project1_content, .project3_content{
  float: left;
}

.project1_content h1, .project3_content h1, .project2_content h1, .project4_content h1{
  padding-top: 80px;
  margin-top: 20px;
}

.project1_content h4, .project3_content h4, .project2_content h4, .project4_content h4{
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  color: #40E0D0;
  padding: 5px;
  margin: auto;
}

.project1_content a, .project3_content a, .project2_content a, .project4_content a{
  color: #808080;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}

.project1_content a:hover, .project3_content a:hover, .project2_content a:hover, .project4_content a:hover{
  color: #40E0D0;
}

.projects{
  text-align: center;
  width: 100%;
}

.projects p{
  text-align: left;
}

.project1, .project3, .project2, .project4{
  clear: both;
}
.project1 img, .project3 img{
  float: right;
}

.project2 img, .project4 img{
  float: left;
}

footer{
  text-align: center;
  border-top: .5px solid #40E0D0;
  border-bottom: .5px solid #40E0D0;
  margin-bottom: 20px;
  clear: both;
}
.social img {
  width: 30px;
  padding: 20px 5px;
}

.social img:hover{
  background: #40E0D0;
}

.underliner{
  border-bottom: .5 solid #808080;
  width: 50%;
  margin: auto;
  margin-top: -50px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

  body{
    width: 80%;
  }

  /*Skills*/
  .skills_images{
    margin: auto;
    width: 100%;
  }


  /*projects*/
  .project1 img, .project3 img, .project2 img, .project4 img{
    float: none;
    width: 70%;
  }

  .project2_content, .project4_content, .project1_content, .project3_content{
    float: none;
    width: 80%;
    margin: auto;
}
    .project1_content h1, .project3_content h1, .project2_content h1, .project4_content h1{
      padding: 0;
      margin-top: -20px;
    }



}


@media only screen and (max-width: 600px) {

  body{
    width: 90%;
  }

  .header h1{
    font-size: 30px;
  }
  .about p{
    font-size: 20px;
  }

  .categories {
    padding: 10px;
    display: inline-grid;
  }

  .about h3, .skills h3, .projects h3{
    font-size: 30px;
  }

  .project1 img, .project3 img, .project2 img, .project4 img{
    float: none;
    width: 90%;
  }

  .project2_content, .project4_content, .project1_content, .project3_content{
    float: none;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .project1_content h1, .project3_content h1, .project2_content h1, .project4_content h1{
    font-size: 30px;
  }

  .contact h1{
    font-size: 30px;
  }

}
